@page "/table"

<h1>League table</h1><br />

<table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Club</th>
            <th>MP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
            <th>Pts</th>
        </tr>
    </thead>
</table>


    @code {

    }
